In [3]:
import pandas as pd
import glob
import os

In [4]:
dataset = ['training', 'test', 'validation']
work = ['KMeans', 'PageRank', 'SGD']
path = r''

In [ ]:
total_lines = 0
for ds in dataset:
    total_lines = 0
    all_files = glob.glob(os.path.join(path, "*_" + ds + ".csv"))
    total = []
    for filename in all_files:
        df = pd.read_csv(filename, header = 0, index_col = None)
        
        work_name = filename.split('_')[0]
        try:
            
            ind = work.index(work_name)
            total_lines += df.shape[0]
        except: continue
        
        df['work']=ind+1
        total.append(df)
    blah = pd.concat(total)
    assert total_lines == blah.shape[0]
    blah.to_csv(ds + '3.csv', index = False)

In [34]:
blah.loc[blah['Work'] == 4]

,time,previous_flow_time,agg_net_out,agg_net_in,agg_net_out_per_machine,agg_net_in_per_machine,tcp_queue,machine,cpu,ram,...,memory_read,memory_write,first_call,flow_size,Work,flow_frequency,execution_time,disk_read,number_of_disk_reads,number_of_disk_writes
0,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3280.0,4,NaN,NaN,NaN,NaN,NaN
1,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,4,NaN,NaN,NaN,NaN,NaN
2,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,4,NaN,NaN,NaN,NaN,NaN
3,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,14748.0,4,NaN,NaN,NaN,NaN,NaN
4,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909767,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN
11909768,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN
11909769,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN
11909770,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN
11909771,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN