In [3]:
import pandas as pd
import glob
import os

In [14]:
dataset = ['training', 'test', 'validation']
work = ['KMeans', 'PageRank', 'SGD', 'tensorflow', 'web']

In [56]:
path = r'data/'
count = {'KMeans':0, 'PageRank':0, 'SGD':0}
for w in work:
    if w not in count:
        count[w] = 0
    for ds in dataset:

        ind = 0
        
        path_new = path + w + '/' + ds
        all_files = glob.glob(os.path.join(path_new, "*.csv"))
        total = None
        for filename in all_files:
            ind+=1
            df = pd.read_csv(filename, header = 0, index_col = None)
            del df['index']
            df['job'] = ind
            if total is not None:
                total = pd.concat([total,df])
            else:
                total = df
        print(w,ds,total.shape[0])
        if ds=='test':
            count[w]+=ind
            
        #final_df = pd.concat(total)
        #final_df.to_csv(w + '_' + ds + '_jb' + '.csv', index = False)
print(count)

KMeans training 64169
KMeans test 15730
KMeans validation 11839
PageRank training 54646
PageRank test 14814
PageRank validation 15695
SGD training 515473
SGD test 57531
SGD validation 64235
tensorflow training 11909772
tensorflow test 11909649
tensorflow validation 11909772

AttributeError: 'NoneType' object has no attribute 'shape'

In [57]:
count

{'KMeans': 91, 'PageRank': 76, 'SGD': 34, 'tensorflow': 1, 'web': 0}

In [41]:
path = r'/data'
total_lines = 0
for ds in dataset:
    all_files = glob.glob(os.path.join(path, "*_" + ds + ".csv"))
    total = []
    for filename in all_files:
        df = pd.read_csv(filename, header = 0, index_col = None)
        total_lines += df.shape[0]
        work_name = filename.split('_')[0]
        ind = work.index(work_name)
        df['work']=ind+1
        total.append(df)
    blah = pd.concat(total)
    blah.to_csv(ds + '.csv', index = False)
assert total_lines == blah.shape[0]

AssertionError:

In [34]:
blah.loc[blah['Work'] == 4]

,time,previous_flow_time,agg_net_out,agg_net_in,agg_net_out_per_machine,agg_net_in_per_machine,tcp_queue,machine,cpu,ram,...,memory_read,memory_write,first_call,flow_size,Work,flow_frequency,execution_time,disk_read,number_of_disk_reads,number_of_disk_writes
0,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3280.0,4,NaN,NaN,NaN,NaN,NaN
1,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,4,NaN,NaN,NaN,NaN,NaN
2,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,4,NaN,NaN,NaN,NaN,NaN
3,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,14748.0,4,NaN,NaN,NaN,NaN,NaN
4,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909767,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN
11909768,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN
11909769,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN
11909770,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN
11909771,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN